@import "normalize"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

ul, li 
	margin: 0
	padding: 0
	list-style-type: none

.bgi
	background-position: center top
	background-size: cover


.button
	border: none
	color: #fff
	background-color: $accent
	padding: 10px 35px
	border-radius: 3px 
	font-size: 12px
	text-transform: uppercase
	letter-spacing: 2px
	font-weight: 700
	font-family: "RalewayBold", sans-serif
	border-bottom: 4px solid rgba(#5c3e04, .2)
	transition: background-color 0.2s ease
	&:hover
		background-color: lighten($accent, 5%)
	&:focus
		background-color: darken($accent, 5%)

/* шапка */
.header
	position: relative
	min-height: 620px
	height: 100vh
	background-color: $dark
	@extend .bgi
	
	/* TOP */
	.header-top	
		padding-top: 40px
		position: absolute
		left: 0
		width: 100%
		.logo
			img 
				margin-left: 30px
		.phone
			position: absolute
			right: 90px
	
	/* BOTTOM */
	.header-bottom
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		border-top: 1px solid rgba(#fff, .1)
		background-color: rgba(#000, .1)
		padding: 10px 0
		color: #fff
		font-size: 14px
		font-weight: 300
		text-align: center
		.phone
			font-size: 14px
		i 
			font-size: 14px
			color: rgba(#fff, .3)
			margin-right: 5px

	/* CENTER */
	.header-center
		position: relative
		text-align: center
		color: #fff
		font-family: "RalewayThin", sans-serif
		display: flex
		height: 100%
		&--center
			margin: auto
		.header__welcome
			font-weight: 300
			display: block
			text-transform: uppercase
			font-size: 14px
			letter-spacing: 1px
			margin: 0
			position: relative
			white-space: nowrap
			span 
				margin: 0 10px
			&::before, &::after
				position: absolute
				content: ""
				width: 100%
				height: 1px
				background-color: #fff
				display: inline-block
				top: 50%
			&::before
				left: 0
			&::after
				right: 0
		.header__head
			font-size: 70px
			line-height: 1.6
			margin: 0
			text-transform: uppercase
			font-weight: 300
			border-bottom: 1px solid #fff
			white-space: nowrap
		.header__map 
			font-family: "RalewayRegular", sans-serif
			text-transform: uppercase
			vertical-align: middle
			font-weight: 300
			font-size: 14px
			margin: 25px 0
			.fa
				margin: 0 8px
				font-size: 12px
				color: rgba(#fff, .4)
		.header__desc
			font-family: "RalewayRegular", sans-serif
			margin-bottom: 30px
			span 
				font-family: "RalewaySemiBold", sans-serif

	/* RIGHT */		
	.header-right
		position: absolute
		display: flex
		height: 100%
		right: 0
		top: 0
		padding: 0 12px
		border-left: 1px solid rgba(#fff, .1)
		.soc-seti
			margin: auto

/* меню */
#my-menu	
	background-color: #111
	color: #fff
	.mm-panel
		padding-top: 80px 
	li 
		.my-menu__item
			padding: 8px 10px 8px 60px
			color: rgba(#fff, .7)
			transition: color 0.2s ease
			.fa 
				margin-right: 7px
				color: #fff
				transition: color 0.2s ease
			&:hover
				color: $accent
				.fa
					color: $accent
#mm-blocker
	background-color: rgba(#000, .2)
	display: none
	width: 100%
	height: 100%
	position: fixed
	transition: opacity .4s ease .4s
	top: 0
	left: 0
	z-index: 20

/* социальные сети */		
.soc-seti
	.soc-seti__item
		a
			display: block
			width: 36px
			height: 36px
			background-color: rgba(#fff, .25)
			color: #353535
			text-align: center
			border-radius: 50%
			margin-bottom: 20px
			transition: background-color 0.2s ease
			.fa 
				line-height: 36px
			&:hover
				background-color: rgba(#fff, .4)

/* логотип */
.logo
	width: 125px
	display: inline-block
	img 
		max-width: 100%

/* телефон */
.phone
	color: rgba(#fff, .9)
	font-size: 20px
	line-height: 28px
	font-family: "RobotoRegular", sans-serif
	i 
		font-size: 22px
		color: rgba(#fff, .5)

	&:hover, &:focus
		color: #fff
		color: rgba(#fff, 1)
		text-decoration: none
		
/* меню */
.hamburger
	position: absolute
	right: -6px
	z-index: 1
	top: 20px
	span
		height: 2px
		>span 
			background-color: #fff
			width: 36px
			&::before, &::after
				height: 2px
				width: 36px
				background-color: #fff



/* сервисы */
.services
	position: relative
	color: #fff




/* футер */
.footer
	position: relative
	background-color: #242424
	color: #fff
	padding: 40px 0

	.soc-seti
		.soc-seti__item
			display: inline-block
			margin-right: 5px
			.fa
				color: rgba(#fff, .6)
	.menu
		.menu__item
			a
				color: rgba(#fff, .5)
				text-decoration: underline
				font-size: 14px
				margin-bottom: 4px
				display: inline-block
				transition: color 0.2s ease
				.fa 
					color: #fff
					margin-right: 7px
					transition: color 0.2s ease
				&:hover
					text-decoration: none
					color: $accent
					.fa 
						color: $accent
	.info
		li 
			font-size: 14px
			color: rgba(#fff, .9)
			margin-bottom: 12px
			.fa 
				margin-right: 10px
				color: rgba(#fff, .5)
			.phone
				color: #fff
				font-size: 22px
				margin-top: 15px
				display: inline-block
				white-space: nowrap
	

#map
	width: 100%
	height: 200px

.logo__desc, .logo__info
	color: #777
	line-height: 1.5
	font-size: 14px
	margin-bottom: 15px
	display: block


@import "media" // Всегда в конце
